<div class="container">
    <div class="content">
        <a href="#" class="firstbtn btn-outline-dark">
            <h2 class="line">l</h2>
            <h3 class="subtitle">Favoritos de los seguidores</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
            </svg>
        </a>
        <p class="paragraph">Los mejores programas y películas de esta semana</p>
    </div>

    <app-favs *ngFor="let favMovie of favMovies" 
    [favMovies]="favMovies">
    </app-favs>
</div>